In [43]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
import numpy as np
from pandas import DataFrame
# Import the API key.
from config import g_key
gmaps.configure(api_key='AIzaSyB15j26fBIeRsRnKzhwAKjgwCFUg1GHaWk')

In [44]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
city_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Rio Grande,BR,78.80,few clouds,-32.03,-52.10,Swan Express Rio Grande
1,3,Rikitea,PF,78.37,light rain,-23.12,-134.97,Pension Maro'i
2,8,Fare,PF,82.72,scattered clouds,-16.70,-151.02,Maitai Lapita Village Huahine
3,10,Ixtapa,MX,80.60,scattered clouds,20.70,-105.20,Container Inn Puerto Vallarta
4,13,Cayenne,GF,84.20,broken clouds,4.93,-52.33,Hôtel Le Dronmi

In [45]:
final_df= city_data_df[city_data_df['Country'] == 'ES']
final_df = final_df.head(4)
final_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
16,39,Teguise,ES,73.40,haze,29.06,-13.56,B&B La Casona de Nazaret
30,78,Tacoronte,ES,73.99,haze,28.48,-16.41,Haciendas del Valle - Casa San Miguel
193,480,Las Palmas,ES,71.60,haze,28.42,-14.01,Villa 54
196,486,Los Llanos De Aridane,ES,73.40,haze,28.66,-17.92,Valle Aridane

In [46]:
Las_Palmas_df = city_data_df[city_data_df['City'] == 'Las Palmas']
Las_Palmas_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
193,480,Las Palmas,ES,71.6,haze,28.42,-14.01,Villa 54

In [47]:
Tacoronte_df = city_data_df[city_data_df['City'] == 'Tacoronte']
Tacoronte_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
30,78,Tacoronte,ES,73.99,haze,28.48,-16.41,Haciendas del Valle - Casa San Miguel

In [48]:
Teguise_df = city_data_df[city_data_df['City'] == 'Teguise']
Teguise_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
16,39,Teguise,ES,73.4,haze,29.06,-13.56,B&B La Casona de Nazaret

In [49]:
Los_Llanos_df = city_data_df[city_data_df['City'] == 'Los Llanos De Aridane']
Los_Llanos_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
196,486,Los Llanos De Aridane,ES,73.4,haze,28.66,-17.92,Valle Aridane

In [50]:
Las_Palmas_latlng = DataFrame(Las_Palmas_df,columns = ['Lat','Lng'])
Tacoronte_latlng = DataFrame(Tacoronte_df, columns = ['Lat','Lng'])
Teguise_latlng = DataFrame(Teguise_df, columns = ['Lat','Lng'])
Los_Llanos_latlng = DataFrame(Los_Llanos_df, columns = ['Lat','Lng'])
Las_Palmas_latlng.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 193 to 193
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Lat     1 non-null      float64
 1   Lng     1 non-null      float64
dtypes: float64(2)
memory usage: 24.0 bytes

In [51]:
Las_Palmas_latlng = Las_Palmas_latlng.astype(str) 
Tacoronte_latlng = Tacoronte_latlng.astype(str) 
Teguise_latlng = Teguise_latlng.astype(str) 
Los_Llanos_latlng = Los_Llanos_latlng.astype(str) 
Las_Palmas_latlng.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 193 to 193
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Lat     1 non-null      object
 1   Lng     1 non-null      object
dtypes: object(2)
memory usage: 24.0+ bytes

In [52]:
Las_Palmas_latlng_list = Las_Palmas_latlng.values.tolist()
Tacoronte_latlng_list = Tacoronte_latlng.values.tolist()
Teguise_latlng_list = Teguise_latlng.values.tolist()
Los_Llanos_latlng_list = Los_Llanos_latlng.values.tolist()
Las_Palmas_latlng_list

[['28.42', '-14.01']]

In [53]:
Las_Palmas_latlng_tuple = tuple(Las_Palmas_latlng_list) 
Tacoronte_latlng_tuple = tuple(Tacoronte_latlng_list) 
Teguise_latlng_tuple = tuple(Teguise_latlng_list) 
Los_Llanos_latlng_tuple = tuple(Los_Llanos_latlng_list) 
Las_Palmas_latlng_tuple

(['28.42', '-14.01'],)

In [59]:
Las_Palmas_latlng_tuple = (28.42, -14.01)
Tacoronte_latlng_tuple = (28.48, -16.41)
Teguise_latlng_tuple = (29.06 , -13.56)
Los_Llanos_latlng_tuple = (28.66, -17.92)

In [70]:
fig = gmaps.figure()
spain = gmaps.directions_layer(Teguise_latlng_tuple, Los_Llanos_latlng_tuple, waypoints = [Las_Palmas_latlng_tuple,Tacoronte_latlng_tuple], travel_mode = "DRIVING")
fig.add_layer(spain)
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
final_df= city_data_df[city_data_df['Country'] == 'ES']
final_df = final_df.head(4)
final_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
16,39,Teguise,ES,73.40,haze,29.06,-13.56,B&B La Casona de Nazaret
30,78,Tacoronte,ES,73.99,haze,28.48,-16.41,Haciendas del Valle - Casa San Miguel
193,480,Las Palmas,ES,71.60,haze,28.42,-14.01,Villa 54
196,486,Los Llanos De Aridane,ES,73.40,haze,28.66,-17.92,Valle Aridane

In [76]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

In [77]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in final_df.iterrows()]
hotel_info

['\n<dl>\n<dt>Hotel Name</dt><dd>B&B La Casona de Nazaret</dd>\n<dt>City</dt><dd>Teguise</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd>haze</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Haciendas del Valle - Casa San Miguel</dd>\n<dt>City</dt><dd>Tacoronte</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd>haze</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa 54</dd>\n<dt>City</dt><dd>Las Palmas</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd>haze</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Valle Aridane</dd>\n<dt>City</dt><dd>Los Llanos De Aridane</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd>haze</dd>\n</dl>\n']

In [78]:
locations = final_df[["Lat", "Lng"]]
fig = gmaps.figure()
spain = gmaps.directions_layer(Teguise_latlng_tuple, Los_Llanos_latlng_tuple, waypoints = [Las_Palmas_latlng_tuple,Tacoronte_latlng_tuple], travel_mode = "DRIVING")
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(spain)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))