In [62]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
import numpy as np
from pandas import DataFrame
# Import the API key.
from config import g_key
gmaps.configure(api_key='AIzaSyB15j26fBIeRsRnKzhwAKjgwCFUg1GHaWk')

In [63]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
city_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Rio Grande,BR,78.80,few clouds,-32.03,-52.10,Swan Express Rio Grande
1,3,Rikitea,PF,78.37,light rain,-23.12,-134.97,Pension Maro'i
2,8,Fare,PF,82.72,scattered clouds,-16.70,-151.02,Maitai Lapita Village Huahine
3,10,Ixtapa,MX,80.60,scattered clouds,20.70,-105.20,Container Inn Puerto Vallarta
4,13,Cayenne,GF,84.20,broken clouds,4.93,-52.33,Hôtel Le Dronmi

In [64]:
Las_Palmas_df = city_data_df[city_data_df['City'] == 'Las Palmas']
Las_Palmas_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
193,480,Las Palmas,ES,71.6,haze,28.42,-14.01,Villa 54

In [65]:
Tacoronte_df = city_data_df[city_data_df['City'] == 'Tacoronte']
Tacoronte_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
30,78,Tacoronte,ES,73.99,haze,28.48,-16.41,Haciendas del Valle - Casa San Miguel

In [66]:
Teguise_df = city_data_df[city_data_df['City'] == 'Teguise']
Teguise_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
16,39,Teguise,ES,73.4,haze,29.06,-13.56,B&B La Casona de Nazaret

In [67]:
Los_Llanos_df = city_data_df[city_data_df['City'] == 'Los Llanos De Aridane']
Los_Llanos_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
196,486,Los Llanos De Aridane,ES,73.4,haze,28.66,-17.92,Valle Aridane

In [68]:
Las_Palmas_latlng = DataFrame(Las_Palmas_df,columns = ['Lat','Lng'])
Tacoronte_latlng = DataFrame(Tacoronte_df, columns = ['Lat','Lng'])
Teguise_latlng = DataFrame(Teguise_df, columns = ['Lat','Lng'])
Los_Llanos_latlng = DataFrame(Los_Llanos_df, columns = ['Lat','Lng'])
Las_Palmas_latlng.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 193 to 193
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Lat     1 non-null      float64
 1   Lng     1 non-null      float64
dtypes: float64(2)
memory usage: 24.0 bytes

In [76]:
Las_Palmas_latlng = Las_Palmas_latlng.astype(str) 
Tacoronte_latlng = Tacoronte_latlng.astype(str) 
Teguise_latlng = Teguise_latlng.astype(str) 
Los_Llanos_latlng = Los_Llanos_latlng.astype(str) 
Las_Palmas_latlng.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 193 to 193
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Lat     1 non-null      object
 1   Lng     1 non-null      object
dtypes: object(2)
memory usage: 24.0+ bytes

In [77]:
Las_Palmas_latlng_list = Las_Palmas_latlng.values.tolist()
Tacoronte_latlng_list = Tacoronte_latlng.values.tolist()
Teguise_latlng_list = Teguise_latlng.values.tolist()
Los_Llanos_latlng_list = Los_Llanos_latlng.values.tolist()
Las_Palmas_latlng_list

[['28.42', '-14.01']]

In [78]:
Las_Palmas_latlng_tuple = tuple(Las_Palmas_latlng_list) 
Tacoronte_latlng_tuple = tuple(Tacoronte_latlng_list) 
Teguise_latlng_tuple = tuple(Teguise_latlng_list) 
Los_Llanos_latlng_tuple = tuple(Los_Llanos_latlng_list) 
Las_Palmas_latlng_tuple

(['28.42', '-14.01'],)

In [79]:
fig = gmaps.figure()
spain = gmaps.directions_layer(Las_Palmas_latlng_tuple, Los_Llanos_latlng_tuple)
fig.add_layer(spain)
fig

TraitError: (['28.42', '-14.01'],) is not a valid location. Locations must have length 2.